.App {
  display: flex;
  flex-direction: row;
}

#left_bar{
  min-width: 250px;
  height: 100vh;
  background: #363e47;
}

#right_bar{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  max-height: 101vh;
}

#top_nav{
  background: white !important;
  
}

#chat_content{
  background-color: #f2f7f7;
  width: 100%;  
  flex-grow: 1;
  overflow: auto;
}

#message_form{
 width: 100%;
 margin-top: 10px;
 display: flex;
 padding: 5px;
}

#message_input{
 flex-grow: 1; 
 height: 60px;
 padding: 2px;
}

@media only screen and (max-width: 600px) {
  #left_bar{
    display: none;
  }

}




